*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	height: 100%;
}
body{
	background-color: #000;
}
/*Poison*/
.body-wave{
	width: 100%;
	min-height: 30%;
	height: 30%;
	overflow: hidden;
	display: flex;
	justify-content:center;
	align-items: center;
}
.wave-btn{
	width: 280px;
	height: 60px;
	display: flex;
	overflow: hidden;
	position: relative;
	transition: all 0.8s ease 0s;
	justify-content:center;
	align-items: center;
	border-radius: 0 0 10px 10px;
	text-decoration: none;
}
.wave-btn:hover{
	border-radius: 10px;
	transition: all 0.8s ease 0.2s;
	-webkit-box-shadow: 0 0 40px rgba(20, 250, 0, 0.6);
	box-shadow: 0 0 40px rgba(20, 250, 0, 0.6);
}
.wave-btn:hover .wave-btn__waves{
	top: -50px;
}
.wave-btn__text{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
	z-index: 1;
}
.wave-btn__waves{
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: rgba(20, 250, 0, 0.6);
	top: 0;
	left: 0;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;
	transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}
.wave-btn__waves:before{
	background-color: #000;
	border-radius: 48%;
	animation: waves 5s infinite linear;
}
.wave-btn__waves:after{
	background-color: rgba(0,0,0,0.5);
	border-radius: 44%;
	animation: waves 10s infinite linear;
}
@keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
@-webkit-keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
@-moz-keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
@-o-keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
/*Destiny*/
#body-destiny{
	min-height: 30%;
	height: 30%;
	margin: 0;
	padding: 0;
	color: #ddf;
	background-color: #112;
	text-align: center;
	padding-top: 10vh;
}
.destiny-btn,
.destiny-btn::before,
.destiny-btn::after,
.destiny-btn span,
.destiny-btn span::before,
.destiny-btn span::after
{
	transition: all ease .5s;
}
.destiny-btn{
	position: relative;
	display: inline-block;
	padding: 0.3em;
	margin: 1em;
	border: solid 1px;
	text-transform: uppercase;
	cursor: pointer;
}
.destiny-btn:hover
{
	box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}
.destiny-btn span
{
	display: inline-block;
	width: 100%;
	padding: 0.6em 2em;
}
.destiny-btn:hover span
{
	background-color: #fff;
	color: #112;
}
.destiny-btn::before,
.destiny-btn::after,
.destiny-btn span::before,
.destiny-btn span::after
{
	content: '';
	position: absolute;
	border: 1px;
}
.destiny-btn::before,
.destiny-btn span::before
{
	border-style: solid none;  
}
.destiny-btn::before,
.destiny-btn span::after{      
	left: 0;
	top: -0.4em;
	width: 100%; 
	height: calc(100% + 0.8em);
}
.destiny-btn::after,
.destiny-btn span::after
{
	border-style: none solid;   
}
.destiny-btn::after,
.destiny-btn span::before
{
	top: 0;
	left: -0.4em;
	height: 100%;
	width: calc(100% + 0.8em); 
}
.destiny-btn:hover::after,
.destiny-btn:hover span::after
{
	transform: scaleY(0);
}
.destiny-btn:hover::before,
.destiny-btn:hover span::before
{
	transform: scaleX(0);
}
.destiny-btn:hover span::after,
.destiny-btn:hover span::before
{
	opacity: 0;
}
/*Gradient*/
.body-gradient{
	width: 100%;
	min-height: 30%;
	height: 30%;
	overflow: hidden;
	display: flex;
	justify-content:center;
	align-items: center;
	background: #fff
	}
.gradient-btn{
	position: relative;
	display: inline-block;
	width: 200px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 30px;
	z-index: 1;
}
.gragient-btn:hover {
	animation: animate 8s linear infinite;
}

@keyframes animate {
	0% {
	background-position: 0%;
	}
	100% {
	background-position: 400%;
	}
}

.gradient-btn:before {
	content: "";
	position: absolute;
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
	z-index: -1;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 40px;
	opacity: 0;
	transition: .5s;
}
.gradient-btn:hover:before {
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}
/*Elevator*/
.body-elevator{
	max-width: 300px;
	margin: 115px auto;
	overflow: hidden;
	position: relative;
}
.elevator-btn{
	display: block;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	letter-spacing: 5px;
	line-height: 50px;
	height: 50px;
	width: 300px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
	color: #FFF;
	background: #ed1d25;
	border-right: 2px solid #FFF;
	border-left: 2px solid #FFF;
	transition: all 0.3s ease-in-out;
}
.elevator-btn:hover{
	text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
	margin-top: -50px;
	height: 100px;
	background: #222;
}
/*Sliced*/
@import url('https://fonts.googleapis.com/css?family=Fjalla+One'); 
.body-sliced{
  background-color: #790a00;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliced-btn{
  padding: 1.2rem 2.5rem;
  border: 2px solid #ffffff;
  border-radius: 0rem;
  color: #ffffff;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  position: relative;
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225);
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
}
.sliced-btn .top{
  position: relative;
  height: 6px;
  overflow: hidden;
  top: 0;
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040);    
  transition-delay:0.35s;
}
.sliced-btn .bottom{
  position: relative;
  height: 6px;
  overflow: hidden;
  bottom: 0;
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040);
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040);    
  transition-delay:0.35s;
}

.sliced-btn .bottom span{
  top: -6px;
  position: absolute;
  left: 0;
}

.sliced-btn:hover .top{
  top: -5px;     
  transition-delay:0.35s; 
}

.sliced-btn:hover .bottom{
  bottom: -5px;    
  transition-delay:0.35s; 
}
.sliced-btn:hover, .btn-slice:focus, .btn-slice:active{
  margin-left: 10px;
}
.sliced-btn:before{
  content: '';
  height: 1px;
  width: 60px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 6px;
  right: -35px;
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225);
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
}
.sliced-btn:hover:before{
  width: 130%;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
.body-maxfun{
  box-sizing: border-box;
}
/*Maxfun*/
.body-maxfun{
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.maxfun-btn{
    display: flex;
    padding: 15px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}
.maxfun-btn:focus{
   outline: none; 
}

.maxfun-btn:hover{
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.maxfun-btn span:nth-child(2){
    transition: 0.5s;
    margin-right: 0px;
}

.maxfun-btn:hover  span:nth-child(2){
    transition: 0.5s;
    margin-right: 45px;
}

.maxfun-btn span{
    transform: skewX(15deg) 
  }

.maxfun-btn span:nth-child(2){
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}
path.one{
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two{
    transition: 0.5s;
    transform: translateX(-30%);
}

.maxfun-btn:hover path.three{
    animation: color_anim 1s infinite 0.2s;
}

.maxfun-btn:hover path.one{
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.maxfun-btn:hover path.two{
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}
@keyframes color_anim{
    0% {
    fill: white;
    }
    50% {
    fill: #FBC638;
    }
    100% {
    fill: white;
    }
}
/*Skyring*/
.body-skyring{
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
} 
.skyring-btn{
	min-width: 300px;
	min-height: 60px;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 700;
	color: #313133;
	background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px rgba(79,209,197,.64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
}
.skyring-btn::before {
    content: '';
	border-radius: 1000px;
	min-width: calc(300px + 12px);
	min-height: calc(60px + 12px);
	border: 6px solid #00FFCB;
	box-shadow: 0 0 60px rgba(0,255,203,.64);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all .3s ease-in-out 0s;
} 
.skyring-btn:hover, .button:focus {
	color: #313133;
	transform: translateY(-6px);
}
.skyring-btn:hover::before, button:focus::before {
	opacity: 1;
} 
.skyring-btn::after {
	content: '';
	width: 30px; height: 30px;
	border-radius: 100%;
	border: 6px solid #00FFCB;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ring 1.5s infinite;
}
.skyring-btn:hover::after, button:focus::after {
	animation: none;
	display: none;
}
@keyframes ring {
	0% {
	  width: 30px;
	  height: 30px;
	  opacity: 1;
	}
	100% {
	  width: 300px;
	  height: 300px;
	  opacity: 0;
	}
}
/*Connection*/
.body-connection{
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 800;
	background-color: #F2E4D2;
	padding: 40px 0;
}
.connection-btn{
	z-index: 1;
	background-color: transparent;
	position: relative;
	display: inline-block;
	font-size: 16px;
	padding: 15px 34px;
	color: #513A50;
	text-decoration: none;
	border: solid 5px #513A50;
	box-shadow: 12px 12px 0  -5px #ffCA7A;
	transition: .3s;
	overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.connection-btn:before {
	display: inline-block;
	transition: bottom, 0.35s;
	position: absolute;
	transform: skew(-50deg);
	top: 0px;
	left: 260px;
	background-color: #ffCA7A;
	content: "ã€€";
	width: 300px;
	height: 120px;
	z-index: -1;
}  
.connection-btn:hover {
	box-shadow: 0px 0px 0  0px #ffCA7A;
}
.connection-btn:hover:before {
	top: -40px;
	left: -40px;
}
/*Footer*/
.footer{
	height: 100px;
	background-color: rgb(220, 220, 220);
}
.footer-text{
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 40px;
	font-size: 20px;
}
