*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	height: 100%;
}
body{
	background-color: #000;
}
/*Poison*/
.body-wave{
	width: 100%;
	min-height: 40%;
	height: 40%;
	overflow: hidden;
	display: flex;
	justify-content:center;
	align-items: center;
}
.wave-btn{
	width: 280px;
	height: 60px;
	display: flex;
	overflow: hidden;
	position: relative;
	transition: all 0.8s ease 0s;
	justify-content:center;
	align-items: center;
	border-radius: 0 0 10px 10px;
	text-decoration: none;
}
.wave-btn:hover{
	border-radius: 10px;
	transition: all 0.8s ease 0.2s;
	-webkit-box-shadow: 0 0 40px rgba(20, 250, 0, 0.6);
	box-shadow: 0 0 40px rgba(20, 250, 0, 0.6);
}
.wave-btn:hover .wave-btn__waves{
	top: -50px;
}
.wave-btn__text{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
	z-index: 1;
}
.wave-btn__waves{
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: rgba(20, 250, 0, 0.6);
	top: 0;
	left: 0;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;
	transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}
.wave-btn__waves:before{
	background-color: #000;
	border-radius: 48%;
	animation: waves 5s infinite linear;
}
.wave-btn__waves:after{
	background-color: rgba(0,0,0,0.5);
	border-radius: 44%;
	animation: waves 10s infinite linear;
}
@keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
@-webkit-keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
@-moz-keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
@-o-keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
/*Destiny*/
#body-destiny{
	background: #000;
	height: 300px;
	margin: 0;
	padding: 0;
	color: #ddf;
	background-color: #112;
	text-align: center;
	padding-top: 12vh;
}
.destiny-btn,
.destiny-btn::before,
.destiny-btn::after,
.destiny-btn span,
.destiny-btn span::before,
.destiny-btn span::after
{
	transition: all ease .5s;
}
.destiny-btn{
	position: relative;
	display: inline-block;
	padding: 0.3em;
	margin: 1em;
	border: solid 1px;
	text-transform: uppercase;
	cursor: pointer;
}
.destiny-btn:hover
{
	box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}
.destiny-btn span
{
	display: inline-block;
	width: 100%;
	padding: 0.6em 2em;
}
.destiny-btn:hover span
{
	background-color: #fff;
	color: #112;
}
.destiny-btn::before,
.destiny-btn::after,
.destiny-btn span::before,
.destiny-btn span::after
{
	content: '';
	position: absolute;
	border: 1px;
}
.destiny-btn::before,
.destiny-btn span::before
{
	border-style: solid none;  
}
.destiny-btn::before,
.destiny-btn span::after{      
	left: 0;
	top: -0.4em;
	width: 100%; 
	height: calc(100% + 0.8em);
}
.destiny-btn::after,
.destiny-btn span::after
{
	border-style: none solid;   
}
.destiny-btn::after,
.destiny-btn span::before
{
	top: 0;
	left: -0.4em;
	height: 100%;
	width: calc(100% + 0.8em); 
}
.destiny-btn:hover::after,
.destiny-btn:hover span::after
{
	transform: scaleY(0);
}
.destiny-btn:hover::before,
.destiny-btn:hover span::before
{
	transform: scaleX(0);
}
.destiny-btn:hover span::after,
.destiny-btn:hover span::before
{
	opacity: 0;
}
/*Gradient*/
.body-gradient{
	display: inline-block;
	position: relative;
	left: 50%;
	margin-top: 100px;
	transform:translate(-50%,-50%)
	}
.gradient-btn{
	display: block;
	height: 70px;
	width: 200px;
	position: relative;
	overflow: hidden;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color:#fff;
	font-size: 14px;
	text-align: center;
	color:#fff
	}
.gradient-btn:after{
	position: absolute;
	content: '';
	display: inline-block;
	background:#3bade3;
	background: linear-gradient(45deg,#3bade3 0%,#576fe6 25%,#9844b7 51%,#ff357f 100%);
	height: 50px;
	width: 372px;
	z-index: -1;
	transform:translateX(-280px);
	transition:transform 400ms ease-in;
	}
.gradient-btn:hover:after{
	transform:translateX(-200px)
	}
.gradient-btn span{
	color:#fff;
	position: relative;
	top: 16px
	}
/*Elevator*/
.body-elevator{
	max-width: 300px;
	margin: 50px auto;
	overflow: hidden;
	position: relative;
}
.elevator-btn{
	display: block;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	letter-spacing: 5px;
	line-height: 50px;
	height: 50px;
	width: 300px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
	color: #FFF;
	background: #ed1d25;
	border-right: 2px solid #FFF;
	border-left: 2px solid #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.elevator-btn:hover{
	text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
	margin-top: -50px;
	height: 100px;
	background: #222;
}
/*Footer*/
.footer{
	height: 100px;
	background-color: rgb(220, 220, 220);
}
.footer-text{
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 40px;
	font-size: 20px;
}